<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Clue Chasers</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="base">
    <header>
        <nav>
            {% block nav %}
            {% include 'navbar.html' %}
            {% endblock nav %}
        </nav>
        <div class="row">
            <div class="col-md-3">
                <div class="card-logo">
                    <img src="{% static '\images\logo.png' %}" class="card-img-top" alt="logo">
                    <div class="card-body">
                        <h5 class="card-title">Hello Detective</h5><br>
                        <p class="card-text">Welcome to Clue Chasers, Detective,<br><br>
                        We are excited to have you on board this exciting adventure.<br>
                        Your reputation precedes you and we are confident that your skills will be invaluable in our pursuit of the truth.<br>
                        Here at Clue Chasers, every mystery is a chance to dive deep into the unknown, to uncover secrets that have been hidden for too long.<br>
                        Each clue is a piece of a bigger puzzle, and we know you've got what it takes to piece it together.<br>
                        We look forward to seeing you in action, solving mysteries and bringing clarity where there is only confusion. We know you will make us proud.<br>
                        Good luck with your investigations, and remember that in Clue Chasers, every clue is a door to a new world.<br><br>
                        Sincerely, The Clue Chasers Team</p>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="contents">
                    {% block front %}
                    {% endblock front %}
                </div>
            </div>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Database Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <button class="btn btn-sidebar" type="button"><i class="fa-solid fa-dna fa-2x"></i></button>
                <button class="btn btn-sidebar" type="button"><i class="fa-solid fa-fingerprint fa-2x"></i></button>
                <button class="btn btn-sidebar" type="button"><i class="fa-regular fa-file fa-2x"></i></button>
                <button class="btn btn-sidebar" type="button"><i class="fa-solid fa-ear-listen fa-2x"></i></button>
                <button class="btn btn-sidebar" type="button"><i class="fa-solid fa-map-location-dot fa-2x"></i></button>
            </div>
        </div>
    </main>
    <footer>

    </footer>
    <script src="https://kit.fontawesome.com/1c9e9f31ac.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>