/* navbar */
.ch-text {
    color: goldenrod;
    margin-right: 20px;
}
.btn.btn-navbar {
    background-color: navy;
    border-color: goldenrod;
    border: 2px solid goldenrod;
    color: white;
    margin: 10px;
    border-bottom: 4px solid goldenrod;
    border-right: 4px solid goldenrod;
}

.btn.btn-navbar:hover {
    background-color: blue;
    border-color: goldenrod;
    color: white;
    margin: 10px;
}

button.navbar-toggler {
    background-color: navy;
    border-color: goldenrod;
    color: gold;
}

span.navbar-toggler-icon {
    color: gold;
}

.navbar.navbar {
    background-color: navy;
    border-color: goldenrod;
    color: white;
    border-bottom: 3px solid goldenrod;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    text-decoration: none;
    color: #FFFFFF;
}

ul.dropdown-menu {
    background-color: navy;
    border-color: goldenrod;
    color: white;
    margin-left: 10px;
}

a.dropdown-item {
    color: white;
}

a.dropdown-item:hover {
    background-color: blue;
    color: white;
}

.btn.close {
    color: goldenrod;
}

/* side bar */

div.offcanvas {
    background-color: navy;
    border-right:3px solid goldenrod;
    border-top:3px solid goldenrod;
    color: white;
    margin-top: 86px;
}

.btn.btn-sidebar {
    background-color: navy;
    border-color: goldenrod;
    border: 2px solid goldenrod;
    color: white;
    margin: 10px;
    border-bottom: 4px solid goldenrod;
    border-right: 4px solid goldenrod;
    width: 70px;
    height: 50px;
}

.btn.btn-sidebar:hover {
    background-color: blue;
    border-color: goldenrod;
    color: white;
    margin: 10px;
}

i {
    color: goldenrod;
}

.card-logo {
    width: 400px;
    height: auto;
    background-color: navy;
    border-right: 3px solid goldenrod;
    color: white;
    display: grid;
    place-items: center;
}

.card-img-top {
    width: 50%;
    height: auto;
}

.card-body {
    background-color: navy;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* base.html */

.base {
    background-color: white;
    color: white;
}


/* home.html */


/* login.html */

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.card {
    width: 400px;
    height: 320px;
    padding-top: 20px;
    align-items: center;
    background-color: navy;
    border: 3px solid goldenrod;
    color: white;
}

h2.login {
    color: white;
    text-align: center;
    padding-bottom: 20px;
}

body.d-flex {
    background-color: navy;
    color: white;
}

label {
    display: block;
}

button.login {
    background-color: navy;
    border-color: goldenrod;
    color: white;
    margin-left: 60px;
    border-bottom: 4px solid goldenrod;
    border-right: 4px solid goldenrod;

}

button.login:hover {
    background-color: blue;
    border-color: goldenrod;
    color: white;
    margin-left: 60px;
}